
*.html
*.xml
!db.xml
!chatlog.html
!maskedimages/*.png
!moduledb/FGC-Maps.xml
!moduledb/FGC-Maps_*.xml
!moduledb/Incarnate-Battles.xml
!moduledb/Incarnate-Battles_*.xml
!moduledb/Incarnate-Engine.xml
!moduledb/Incarnate-Engine_*.xml
!moduledb/Incarnate-Penolia.xml
!moduledb/Incarnate-Penolia_*.xml
extensionstate.xml
modulestate.xml
CampaignRegistry.lua
usersettings/*
